#controls {
  width: 960px;
  overflow: hidden;
  margin: 20px auto;
}

#controls .option {
  clear: both;
  overflow: hidden;
  padding: 10px 0;
}

#controls .option label,
#controls .option .button-group {
  float: left;
}

#controls .option label {
  line-height: 26px;
  margin-right: 15px;
}

#container {
  margin: auto;
  position: relative;
  width: 960px;
  min-height: 500px;
  border: 1px solid #ADADB7;
}

.atom {
  border-radius: 4px;
  position: absolute;
  text-align: center;
  border: 1px solid #33334C;
}

.atom.small {
  width: 48px;
  height: 48px;
  line-height: 48px;
  z-index: 4;
}

.atom.medium {
  width: 98px;
  height: 98px;
  line-height: 98px;
  z-index: 3;
}

.atom.big {
  width: 198px;
  height: 198px;
  line-height: 198px;
  z-index: 2;
}

.atom.huge {
  width: 248px;
  height: 248px;
  line-height: 248px;
  z-index: 1;
}

.atom.retangule-small {
  width: 98px;
  height: 48px;
  line-height: 48px;
  z-index: 4;
}

.atom.retangule-medium {
  width: 198px;
  height: 98px;
  line-height: 98px;
  z-index: 3;
}

.atom.retangule-huge {
  width: 248px;
  height: 98px;
  line-height: 98px;
  z-index: 2;
}

.atom.blue {
  background-color: #3399FF;
}

.atom.red {
  background-color: #FF5C5C;
}

.atom.green {
  background-color: #33AD5C;
}

.atom.orange {
  background-color: #FF8533;
}

.atom.purple {
  background-color: #944D94;
}

#container.effect, .atom.effect {
  -webkit-transition-property: -webkit-transform, opacity, height;
  -moz-transition-property: -moz-transform, opacity, height;
  -o-transition-property: -o-transform, opacity, height;
  -ms-transition-property: -ms-transform, opacity, height;
  transition-property: transform, opacity, height;

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.atom.hide {
  opacity: 0;
}

/* Fallback in case of old browser */
.atom.organize {
  position: static !important;
  float: left !important;
}